body {
  font-family: sans-serif;

  margin: 0;
}

label {
  font-size: 15px;

  display: block;

  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 10px 20px;
}

button {
  cursor: pointer;
}


.container {
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 1220px) {
    padding: 0 20px;
  }
}
