.logo {
    display: flex;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 50px;

    &__img {
        width: 20px;
    }

    &__title {
        font-size: 20px;

        margin-top: 5px;
        margin-left: 5px;
    }
}
