.range {

  &-slider {
    position: relative;

    width: 200px;
    margin-bottom: 22px;
    
    & input[type="range"] {
      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
    }

    &__count {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 10px;
      margin-top: 5px;
    }

    & > label {
      margin-bottom: 0;
    }
  }
}

input[type="range"]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  top: 2px;

  margin-top: -7px;
}
