.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 30px 0;

  box-shadow: 1px 2px 14px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  &__body {
    font-size: 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 320px;
    padding: 20px;
    margin: 10px;

    box-shadow: 1px 2px 14px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    @media (max-width: 754px) {
      width: 90%;
    }
  }

  &__item {
    padding: 5px 0px;
  }
}
